.img-box{
-webkit-transition: all .3s;
  transition: all .3s;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 45px;
}
.img-box img {
    width: 100%;
    border: 10px solid #1a1a19;
    border-radius: 100%;
  }