body{
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
  background-image: url(../images/body-bg.jpg);
  background-size: cover;
}
div{
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: 320px;
    font-style: oblique;
    font-size: xx-large;
}
